@model CarRentalMVC_Auth.Models.Document.User_Doc

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User_Doc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="id_number" class="control-label"></label>
                <input asp-for="id_number" class="form-control" />
                <span asp-validation-for="id_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="license_id" class="control-label"></label>
                <input asp-for="license_id" class="form-control" />
                <span asp-validation-for="license_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="license_exp" class="control-label"></label>
                <input asp-for="license_exp" class="form-control" />
                <span asp-validation-for="license_exp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
